/* app css stylesheet */

body {
  background-color: #f4f4f4;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

.expired {
    color: red;
}

.red-right-border {
  border-right:  6px double lightpink;
}

.no-left-border {
  border-left-style:   none; 
}