/* app css stylesheet */

body {
  background-color: #f4f4f4;
  background-image: url("/images/test_task_view.png");
}

.completed {
    color: grey;
    text-decoration: line-through;
}

.expired {
    color: red;
}

.red-right-border {
  border-right:  6px double lightpink;
}

.no-left-border {
  border-left-style:   none; 
}

i {
  margin-left: 0px;
}



#floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

#child {
    clear: both;
    height: 100px;
}