/* app css stylesheet */

body {
  background-color: #f4f4f4;
  background: url("/images/background.png") 100% 100% no-repeat;
  background-size: cover;
  background-position: right top;
  background-attachment: fixed;

  padding: 15px 1px 15px 1px;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

.expired {
    color: 	#ff3300;
}

.red-right-border {
  border-right:  6px double #ff6666;
}

.last-row-left {
  border-bottom-left-radius: 15px;
}

.last-row-right {
  border-bottom-right-radius: 15px;
}
